/* 左側欄位 On This Page 文字區塊設定 */
 /* 特別for RA 分頁，因為要指定 industry 裡的 button 連結至 shipping information*/
.RAinfo {  
    margin-top: 10px;
    padding-left: 10px;
    line-height: 2;
    color:#024870;
    display: flex; /* 使用 flex 布局 */
    flex-direction: column; /* 文字、圖片變成上下排列 */
  }
  
.page-link:hover {
text-decoration: underline;
font-style: italic;
}

/* 左側欄位 On This Page 跳轉設定 */
/* 特別for RA 分頁，因為要指定 industry 裡的 button 連結至 shipping information*/
#RAinfo1,
#RAinfo2,
#RAinfo3,
#RAinfo4,
#RAinfo5 {
    scroll-margin-top: 100px; /* 跳轉到該區塊距離頂部的哪一個位置 */
    }

/* Uni-puck&Tool Borrowing  */
/* "Contact 樣式 */
.left-purple {    
    font-family: Georgia, Times, 'Times New Roman', serif;
    color:rgb(17, 17, 17);
    font-size: 18px;
    font-weight: bold;
    margin:10px 0 10px 15px;
    }

.Ina {
    color: #393939;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}

.text1-navyblue {
    margin: -5px 200px 10px 200px; 
    font-size: 22px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #326F91;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid slategrey;
}

.text2-blue {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: rgb(76, 99, 199);
}

.text3-lineheight {
    line-height: 1.6;
}

.bold-orange {
    font-weight: bold;
    color: rgb(255, 145, 0);
}

.bold-black {
    font-weight: bold;
    color: black;
    line-height: 1.8;
}

.bold-red {
    font-weight: bold;
    color: rgb(242, 57, 57);
}

ol li {
    line-height: 2;
}

/* 外部網站 */
.link-orange {
    color: rgb(244, 163, 56) !important;
    text-decoration: underline;
}

/* Beamline Manual  */
.link-green {
    color: rgb(19, 123, 26) !important;
    text-decoration: underline;
}

/* download spreadsheet & Shippiing info. */
.link-blue {
    color: rgb(96, 115, 221) !important;
    font-weight: bold;
}

/* staff upload spreadsheet 網頁連結 */
.link-black {
    color: rgb(40, 35, 35) !important;
    font-weight: bold;
}

.BLname {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bolder;
}

.nsrrc-address {
    margin-top: 10px;
}

.card {
    background-color: rgb(248, 242, 235);
}

/* 卡片組件內的beamline名稱 */
.BL-name a {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: rgb(96, 115, 221);
}

.BL-name:hover {
    font-style: italic;
}


.BLmanager {
    color: #393939;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.px-tel {
    color: #393939;
    font-size: 14px;
    text-decoration: none;
}

.px-mail {
    color: #393939;
    font-size: 12px;
    text-decoration: none;
}

/* 滑鼠懸停在e-mail 上方時，旁邊出現黑底白字的小說明框預設值 */
.px-mail,
.px-tel {
    position: relative;
    text-decoration: none;
}

/* 滑鼠懸停在e-mail 上方時，旁邊出現黑底白字的小說明框 */
.px-mail:hover::before {
    content: "E-mail";   /* 說明框內顯示的文字 */
    display: block;
    position: absolute;
    background-color: rgb(63, 63, 63);
    color: white;
    padding: 5px;
    border-radius: 5px;
    Right: 105%;
    top: -1;
    white-space: nowrap;
}

/* 滑鼠懸停在Tel 上方時，旁邊出現黑底白字的小說明框 */
.px-tel:hover::before {
    content: "Phone";  /* 說明框內顯示的文字 */
    display: block;
    position: absolute;
    background-color: rgb(63, 63, 63);
    color: white;
    padding: 5px;
    border-radius: 5px;
    Right: 105%;
    top: -1;
    white-space: nowrap;
}

.note {
    margin-top: 15px;
    color: rgb(210, 42, 42);
    font-weight: bold;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

/*  13B Publication */

.diamond-prefix::before {
    content: "\25CA"; /* 使用 HTML 實體符號 &loz; */
    color: black; /* 設置符號顏色 */
    margin-right: 5px; /* 可調整符號與文本之間的距離 */
}


.publications a {
    color:rgb(79, 132, 247) !important;
    font-size: 16px;
}


  

/* 螢幕寬度小於1200px時，套用這個區塊的css */
@media (max-width: 1200px) { 
    .ra-text {margin: 30px;}
    .text1-navyblue {margin: 0px 30px 10px 30px;}
}

 /* 螢幕寬度小於992px時，套用這個區塊的css */
 @media (max-width: 992px) {
    .ra-text {
        margin: 20px;
        font-size:18px;
    }
    .text1-navyblue {
        margin: 0px 30px 10px 30px;
        font-size: 20px;
    }
 }

 /* 螢幕寬度小於768px時，套用這個區塊的css */
 @media (max-width: 768px) {}


  /* 螢幕寬度小於576px時，套用這個區塊的css */
  @media (max-width: 576px) {
    .ra-text {margin: 10px; font-size: 16px;}   
    .text1-navyblue {margin: 0 20px 10px 20px; font-size: 16px;}
    .link-orange, .link-green, .link-blue, .link-black  {font-size: 16px;}
  }