/* 主標題 */
.title {
  font-size: 48px;
  font-weight: bold;
  color: #323B67;
  text-align: center;
  margin: 40px 20px; /*第一個值為上下，第二個值為左右 */
  }
  
/* 調整左右欄位 */
.fixed-left, .fixed-right {
  padding: 0 40px;
  padding-bottom: 20px;
  position: sticky;
  top: 50px;  /* 調整滾動卷軸時最上方定位在哪裡 */
  height: 100vh;    /* 使列充满整个视口高度 */ 
  overflow: auto; /* 啟用滾動(螢幕高度不夠時，右欄下伴會被切到) */
}

/* 左右欄位標題 */
.title-side {
  color: #282f4d;
  font-size: 24px;
  background-color: #eae9fc;
  border-radius: 6px;
  padding: 5px;
  text-align: left;
  display:flex;        /* 使用 flex 布局，以便控制內容的排列方式 */   
}

/* 左欄Page Guiline 設定 */
.page-guiline {
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 10px 10px 2px 10px;
  box-shadow: 0 5px 10px rgba(40, 47, 77, 0.5); /* 添加陰影效果 */
  /* 水平偏移、垂直偏移、模糊半徑 顏色(半透明(0.5)黑色) */
}

/* 左側欄位 On This Page 文字區塊設定 */
.BLinfo {
  margin-top: 10px;
  padding-left: 10px;
  line-height: 2;
  color:#282F4D;
  display: flex; /* 使用 flex 布局 */
  flex-direction: column; /* 文字、圖片變成上下排列 */
}

.page-link:hover {
  text-decoration: underline;
  font-style: italic;
}

/* 左側欄位 On This Page 跳轉設定 */
#blinfo1,
#blinfo2,
#blinfo3,
#blinfo4,
#blinfo5 {
  scroll-margin-top: 100px; /* 跳轉到該區塊距離頂部的哪一個位置 */
}

.onthispage {
  color:#282F4D;
  font-weight: bold;
  font-size: 20px;
}

.onthispage img {
  margin-right: 10px;
}


/* 調整中間主欄位 */
.main-content {
    margin: 20px 0;
    padding: 30px 40px;    
    background-color: #eae9fc;
    border-radius: 20px;
}

/* 中間欄位次標題 */
.title2 {
    color: #282f4d;
    font-size: 24px;
    background-color: #a1a9cf;
    border-radius: 5px;
    text-align: center;
}

/* 分散對齊中間欄位BL說明文字 */
.justify-text {
    text-align: justify;
    line-height: 2; /* 調整行距 */
  }
/* 設定第一个字母的字體大小 */
.justify-text::first-letter {
  font-size: 2em; 
} 

/* 指定中文和英文列表項的不同樣式 */  /* 如果只想改變圓點顏色，就不要加 a */
  li.BLManual-Ch a {
    color: rgb(146, 78, 236) !important; /* 設定中文列表項的文字顏色 */
    font-weight: bold; /* 設定粗體字體 */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* 設定字體 */
    font-size: 16px; /* 設定字體大小 */
    line-height: 2.5; /* 2.5倍行高，可以根據需要調整 */
  }
  
  li.BLManual-En a {
    color: #eb8759 !important; /* 設定英文列表項的文字顏色 */
    font-style: italic; /* 設定斜體字體 */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* 設定字體 */
    font-size: 16px; /* 設定字體大小 */
    line-height: 2.5; /* 2.5倍行高，可以根據需要調整 */
  }

  /* 調整輪播投影片上下留空 (#: id 選擇器) */
  #carouselExampleAutoplaying {
    margin-block: 20px;
  }

  /* 中間欄位Beamline Layout照片 */
  /* 父容器設定 */
  .BLphoto {    
      width: 100%; /* 使容器充滿父容器的寬度 */
      display: flex; /* 使用 flex 布局 */
      flex-direction: column; /* 文字、圖片變成上下排列 */
      justify-content: center; /* 水平居中對齊 */
      align-items: center; /* 垂直居中對齊 */
      margin: 5px; /* 設定上下左右邊距，可以根據需要調整 */
    }

  /* 圖片設定 */
  .BLphoto img {
    max-width: 100%; /* 確保圖片不超出容器的寬度 */
    max-height: 100%; /* 確保圖片不超出容器的高度 */
    margin-block: 20px;
  }

/* 設定icon右側的間距，您可以根據需要調整數值 */
.title-side img {
    margin-right: 10px; 
    margin-left: 15px;
  }

/* 右邊欄位區塊設定 */
.BLtechiques {
  margin-top: 10px;
  line-height: 2;  /* 2倍行高，可以根據需要調整 */
}

/* 右邊欄位次標題 */
.title3 {
    color:#581158;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
    margin-left: 15px;
    margin-top: 10px;
}

/* 調整右側 Change Crystallography 子項目縮排 */
ul.challeng-list {
  padding-left: 2px; 
}

/* 調整右側欄位內文字行距 */
.info a,
.info p {   
    line-height: 1.8; /* 1.8倍行高，可以根據需要調整 */
    margin-left: 15px;
    text-decoration: none; /* 移除底線 */
}

.px-member {
  color: #282F4D;  
  font-weight: bold;
}

/* 調整滑鼠指到超連結時字樣 */
.px-member:hover {
    color: white;
    background-color: #282F4d;
}

.px-mail,
.px-tel {
  font-style: italic;
  text-decoration: underline;
}

.px-mail:hover, 
.px-tel:hover {
  color:darkblue;
  font-weight: bold ; 
}

   /* 螢幕寬度小於1200px時，套用這個區塊的css */
   @media (max-width: 1200px) { 
      .title {font-size: 28px; margin:10px;}
      .fixed-left, .fixed-right {padding: 0 10px;}
      .title-side  {font-size: 20px; font-weight: bold;}
      .BLtechiques li {font-size: 16px;}
      .title3, .info a, .info p {font-size: 16px;}
      .BLtechiques {font-size: 16px;}
 }

   /* 螢幕寬度小於992px時，套用這個區塊的css */
   @media (max-width: 992px) {
      .title {font-size: 30px; margin:15px;}
      .fixed-left, .fixed-right {position:initial;height:auto}
   }

   /* 螢幕寬度小於768px時，套用這個區塊的css */
   @media (max-width: 768px) {
      .title {font-size: 26px; margin:15px;}
      .title2 {font-size: 16px;}
      .title-side {font-size: 20px;}
      .title3 {margin-top: 5px;}
      .BLtechiques {font-size: 14px;}
      .main-content {margin: 0;}
   }

    /* 螢幕寬度小於576px時，套用這個區塊的css */
    @media (max-width: 576px) {
       .justify-text {font-size:14px;}   /* 中間主欄位介紹 beamline 的文字 */ 
       li.BLManual-Ch a, li.BLManual-En a {   /* Manual 文字和行距 */
          font-size:14px; line-height: 1.5;}   
    }
