/* (Why Choose Us & application) 卡片組件內設定  */
.card, .card-img-top {      /* 圓角設定，含 Application Procedure、右邊欄位 Contacrs 內卡片*/
  border-radius: 20px;
}

.card-body {
    font-family:'Text Me One' ;
    font-size: 16px;
    font-weight: bold;
    color:#4d4a4a;
  }
  
.card-title {
  font-family:'Fugaz One' ;
  color:#353535;
  font-size: 18px ;
  
}

.card-title a {
  color:#faa84a;
  text-decoration: none;
}

.card-title a:hover {
  font-weight: bold;
  font-style: italic;
  background-color: #faa84a;
  color:white;
}

/* 中間欄位照片設定 */
/* 圓角設定 */
.rounded-start {     
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* 右邊欄位駿翔照片設定 */
.manager-photo {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* 位置設定 (手機直式瀏覽時，照片位置置中) */
@media (max-width: 767px) {
  /* 使用媒體查詢以適應手機瀏覽 */
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;  /* 移除固定高度 */
  }

  .img-fluid {
      width: 80%;
}
}

/* Application Procedure*/
.list {
    font-weight: bold;
    font-size: 20px;
    color:#faa84a; 
}

.list li {
    margin-left: 30px;
}

/* 按鈕位置 (2_Apply for user identity) */
.botton-center {
  text-align: center;
}


/* 右欄 Contacts */
.card-body2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

/* Facebook 區塊設定 */
.fb-page {
  margin-left: 20px;
}


/* 螢幕寬度小於768px時，套用這個區塊的css */
@media (max-width: 768px) {
    .card-title {font-size: 16px;}
    .card-body {font-size: 14px;}
    .list {font-size: 16px;}
 }