.title {
    font-family: 'Fugaz One';
    font-size: 48px;
    color: #732383;
    text-shadow: 1px 1px 2px rgba(1, 48, 75, 0.5);
    /* box-shadow: 0 5px 10px rgba(150, 161, 163, 0.5);  添加陰影效果 */
    text-align: center;
    margin: 40px 20px; /*第一個值為上下，第二個值為左右 */
    }

/* 可選的樣式，用於美化表單 */
.TCform {
    margin-left: auto; 
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px; 
    width: auto; /* 設定表單寬度 */
    padding: 20px; /* 增加內部填充 */
    border: 1px solid #ccc; /* 增加邊框 */
    border-radius: 5px; /* 圓角邊框 */   
}

/* 調整 "field" 格式 */
legend {
    margin-bottom: 20px;  /* 項目距離 */
    font-family: Amaranth;
    font-size: 28px;      /* 改變 field 字體大小 */
    font-weight: bold;    /* field 改為粗體字 */
    text-align: center; /* 讓文字在 fieldset 中水平置中 */
    color:rgb(53, 19, 3);
}

/* 設定下拉選單的寬度為 200 像素 */
select {
    width: 150px;
    height: 30px;
}

/* 將唯讀輸入框背景顏色設為灰色 */
input[readonly] {
    background-color: #f1f1f1;
    border: 1px solid #dddddd; /* 將邊框顏色設為灰色 */
}

/* 調整左側的外邊距 */
label, button {
    margin-left: 40px; 
}

/* 設定 alertArea 樣式 */
#alertArea {
    display: none;
    text-align: center;
    padding: 10px;
    background-color: #f8d7da;
    color: red;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-top: 10px;
    line-height: 2;
}

/* 表格樣式設定 */   
table {
    margin: 0 auto; /* 將表格置中 */
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;       /* 設定表格寬度為90% */
    border: 1px solid #ddd;
    font-size: 14px;
    color: #323B67;
    background-color:white;
    flex-wrap: wrap;
   
 }
 
 /* 表格設定 */
 th, td { 
    padding: 12px;   /* 表格列高 */
    text-align: left;
    border: 1px solid #ddd; /* 設定內部邊框線 */
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 94px; /* 根據需要設置最大寬度 */
    white-space: normal;
    word-wrap: break-word;
    }

 /* 首列設定 */
 th,
 tr:nth-child(5) th,
 tr:nth-child(6) th {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
 
/* 設定表格的首列、第五列和第六列的背景顏色 */
tr:first-child,
tr:nth-child(5),
tr:nth-child(6) {
    background-color: #EFEFEF;
}

.outvalue {
    color:rgb(95, 17, 240);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Text Me One';
}

.note {
    color:#673232;
}

 /* 不顯示此表單 */
 .epValue {
    display: none;
}

/* 螢幕寬度小於768px時，套用這個區塊的css */
@media (max-width: 768px) {
    .title {font-size: 26px; margin:15px;}
 }

  /* 螢幕寬度小於420px時，套用這個區塊的css */
  @media (max-width: 576px) {
    label, button {margin-left: 0;} 
    input[readonly] {width: 100px;}
    table {font-size: 12px;}
    .note {font-size: 12px;}
  }
