/* 導覽列加捲軸 */
.scrollable-navbar {
    max-height: 70px; /* 設定適當的最大高度 */
    overflow-y: auto; /* 添加垂直捲軸，僅在需要時顯示 */
}

/* 在小螢幕上進一步調整 */
@media (max-width: 768px) {
    .scrollable-navbar {
        max-height: none; /* 移除最大高度，以適應小螢幕 */
    }
}


/* 導覽列背景顏色 */
.container-fluid {
    background-color: rgb(40, 47, 77);
    height: 65px;  
}

/* 導覽列樣式設定 */
.navbar {
    position: fixed;  /* 固定在上方，不會隨卷軸移動 (造成BioNSRRC圖片上半被覆蓋) */
    width: 100%;
    z-index: 100;  /* 移到最上層 (數值越高越上層) */
    opacity: 0.95; /* 透明度(會包含下拉選單) */
}

/* 調整 BioNSRRC 圖片區塊 */
/* 圖片設定 */
.img-fluid {
    width: 100%;
    height: auto;
    margin-top: 75px; /* 避免BioNSRRC圖片上半被導覽列覆蓋 */
}

/* SPXF  logo 字型樣式  */
.navbar-brand {
    color: #dadded  !important;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Comic Sans MS';
    text-shadow: 1px 2px 3px rgb(241, 236, 172);
}

/* 小尺寸螢幕下拉選單區塊樣式 */
#linkbar.collapse {
    border-radius: 20px;
  }
  

/* 導覽列SPXF文字區塊樣式 */
.nav-item {
    margin-left: 10px;    /* 左邊留白10px*/
    background-color: rgb(40, 47, 77);
    border-radius: 10px;
}

/* 導覽列下拉選單設定，不要有任何背景和框線 */
.dropdown-menu {
    background: none;
    border: none;
    box-shadow: none;
}
.nav-item:hover .dropdown-menu {
    display: block;
}

/* 導覽列下拉選單選項樣式 */
.dropdown-item {
    font-size: 14px;
    text-align: center;
    background-color:#eeaf52;
    position: relative;    /* 下拉選單對齊樣式，沒有設定會跑到最左邊 */
    margin: auto;
}

/* 字型設定 */
li a {
    color:white !important;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

/* 滑鼠移到超連結時文字設定 */
li a:hover {
    color: #282F4d !important;
    background-color: rgb(240, 243, 255);
    border-radius: 20px;
}

/* 手機板下拉選單按鈕樣式 */
.navbar-toggler {
    background-color: aliceblue;
    margin-right: 20px;
    line-height:normal;
}

/* footer 樣式設定 */
  footer {
    color: white;
    font-size: 8px;
    background-color: #282f4d;  
    padding: 10px; 
    opacity: 0.95; /* 透明度 */ 
 }

 footer img {
    height: 30px;
 }

 .nsrrcinfo p {
    margin-bottom: 5px;
    text-align: left;
 }

 .funding-agency {
    display: flex; /* 使用 Flex 布局 */
    flex-direction: column;
    align-items: center; /* 垂直居中对齐 */
 }

 .funding-agencies p {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
 }

 .FA {
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 3px; 
  }
 

