.ra-text {
    margin: -5px 200px 10px 200px;
    font-size: 22px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(11, 82, 47);
    border-radius: 10px;
    padding: 5px;
    border: 1px solid slategrey;
}

.ra-text2 {
    font-weight: bold;
}

.ra-text3 {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: rgb(106, 123, 199);
}

.bold-orang {
    font-weight: bold;
    color: rgb(255, 145, 0);
}

.bold-black {
    font-weight: bold;
    color: black;
}

.bold-red {
    font-weight: bold;
    color: rgb(242, 57, 57);
}

.link1 {
    color: rgb(244, 163, 56) !important;
    text-decoration: underline;
}

.link2 {
    /* staff upload spreadsheet 網頁連結 */
    color: rgb(19, 123, 26) !important;
    text-decoration: underline;
}

.link3 {
    color: rgb(40, 35, 35) !important;
    font-weight: bold;
}

.BLname {
    font-size: 18px;
    font-weight: bolder;
}

.nsrrc-address {
    margin-top: 10px;
}

.card {
    background-color: rgb(248, 242, 235);
}

.px-tel,
.px-member {
    color: #393939;
    font-size: 14px;
    text-decoration: none;
}

.px-mail {
    color: #393939;
    font-size: 12px;
    text-decoration: none;
}

.note {
    margin-top: 15px;
    color: rgb(210, 42, 42);
    font-weight: bold;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

/* 螢幕寬度小於1200px時，套用這個區塊的css */
@media (max-width: 1200px) { 
    .ra-text {
        margin: 30px;}
}

 /* 螢幕寬度小於992px時，套用這個區塊的css */
 @media (max-width: 992px) {
    .ra-text {
        margin: 20px;
        font-size:18px;}   
  
 }

 /* 螢幕寬度小於768px時，套用這個區塊的css */
 @media (max-width: 768px) {

 }

  /* 螢幕寬度小於576px時，套用這個區塊的css */
  @media (max-width: 576px) {
    .ra-text {
        margin: 10px;
        font-size:16px;}   
  
  }
