/* 大標題 */
.GM-title {
    font-family: 'Fugaz One';
    font-size: 48px;
    color: #1f2e36;
    text-shadow: 1px 1px 2px rgba(1, 48, 75, 0.5);
    /* box-shadow: 0 5px 10px rgba(150, 161, 163, 0.5);  添加陰影效果 */
    text-align: center;
    margin: 40px 20px; /*第一個值為上下，第二個值為左右 */
}

/* 設置行高 */
.card-body p {
    line-height: 1.0;
}

.card-title {
    font-size: 14px;
    font-weight: bold;
}

.card-name {
    font-size: 12px;
}

.card-text {
    font-size: 12px;
    display: inline-block; /* bg顏色只包住文字 */
    background-color: rgb(242, 223, 250);  /* Support Staf的背景色，其他職稱直接設定在html內 */
    padding: 4px;
    border-radius: 5px;
}

.px-mail,
.px-tel {
    color: #888888;
    font-size: 12px;
    font-weight: bold;
    /* 滑鼠懸停在e-mail 上方時，旁邊出現黑底白字的小說明框預設值 */
    position: relative;
    text-decoration: none;
}

/* 滑鼠懸停在e-mail 上方時，旁邊出現黑底白字的小說明框 */
.px-mail:hover::before {
    content: "E-mail";    /* 說明框內顯示的文字 */
    display: block;
    position: absolute;
    background-color: rgb(63, 63, 63);
    color: white;
    padding: 5px;
    border-radius: 5px;
    Right: 105%;
    top: -1;
    white-space: nowrap;
}

/* 滑鼠懸停在Tel 上方時，旁邊出現黑底白字的小說明框 */
.px-tel:hover::before {
    content: "Phone";     /* 說明框內顯示的文字 */
    display: block;
    position: absolute;
    background-color: rgb(63, 63, 63);
    color: white;
    padding: 5px;
    border-radius: 5px;
    Right: 105%;
    top: -1;
    white-space: nowrap;
}


/* 螢幕寬度小於1200px時，套用這個區塊的css */
@media (max-width: 1200px) { 
    .GM-title {font-size: 28px; margin:10px;}
}

/* 螢幕寬度小於992px時，套用這個區塊的css */
@media (max-width: 992px) {
    .GM-title {font-size: 30px; margin:15px;}
}

/* 螢幕寬度小於768px時，套用這個區塊的css */
@media (max-width: 768px) {
    .GM-title {font-size: 26px; margin:15px;}
}
